svg(version="1.1"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 250 321"
	enable-background="new 0 0 250 321"
	xml:space="preserve" id="one" class="number")
	path(class="normal" fill="none" d="M137.9,43.3L137.9,43.3h-0.2H137.9z M88.4,275l-8.2,38.6h40.1l8.2-38.6H88.4z M153.4,159.1 h-40l-8.2,38.6h40L153.4,159.1z M148.4,5.4L65.8,27.7L66,43.3h71.8h0.2l0,0h39.9l8-37.9C185.9,5.4,148.4,5.4,148.4,5.4z M177.4,43.3h-39.9l-8.2,38.6h39.9L177.4,43.3z M169.6,81.9h-39.9l-8.2,38.6h39.9L169.6,81.9z M161.9,120.5H122l-8.2,38.6h40 L161.9,120.5z M136.8,236.4h-40L88.6,275h40.1L136.8,236.4z M145.2,197.8h-40L97,236.4h40L145.2,197.8z M65.8,62.9l71.5-19.5H65.6 L65.8,62.9z")
	path(class="crashed" fill="none" d="M137.9,43.3L137.9,43.3h-0.2H137.9z M91.4,275l-8.2,38.6h40.1l8.2-38.6H91.4z M157.4,159.1h-40l-8.2,38.6h40 L157.4,159.1z M148.4,5.4L65.8,27.7L66,43.3h71.8h0.2l0,0h39.9l8-37.9C185.9,5.4,148.4,5.4,148.4,5.4z M193.4,43.3h-39.9 l-8.2,38.6h39.9L193.4,43.3z M177.6,81.9h-39.9l-8.2,38.6h39.9L177.6,81.9z M149.9,120.5H110l-8.2,38.6h40L149.9,120.5z M125.8,236.4h-40L77.6,275h40.1L125.8,236.4z M149.2,197.8h-40l-8.2,38.6h40L149.2,197.8z M54.8,62.9l71.5-19.5H54.6L54.8,62.9z")
