.home.content-inner.js-anim
	.content.overlay
		.logo.big
			img(src="i/logo-full-blue.svg" alt="4" width="160px" height="112px")
		.container-fluid
			h1
				| peugeot 2008
				br
				| test-drive fest
				span
					| Отримай шанс виграти
					br
					| Peugeot 2008 на цілих 2 тижні
			.date
				h2 22-23
				p жовтня
			.desc
				h2
					| Що вас чекає на PEUGEOT 2008
					br
					| TEST DRIVE FEST?
				ul
					li
						| Випробування ексклюзивних технологій кросовера
						br
						| PEUGEOT 2008 та нового турбо-двигуна 1.2 PureTech 110 S&S
					li
						| Шанс виграти новий PEUGEOT 2008  на персональний
						br
						| тест-драйв на цілих 2 тижні!
					li Конкурси та розваги для гостей та дітей
					li Фірмові сувеніри від Peugeot
					li Фуршет
					li Тест-драйви автомобілів Peugeot
			h3.title.four-sides
				span.first на&nbsp;всі
				img(src="i/4.svg" alt="4" width="154px" height="219px")
				span.second сторони
		.scroll
			span скрол
