.preloader-wrap.content-inner.hidden
	.content.gray
		.container.ver-center
			.row
				.col-sm-offset-4.col-sm-8.loag-img
					p завантажується
					img(src="i/load.gif")
		.logo.small.hidden-xs.js-btn-home
			a(href="index.html")
				img(src="i/logo-full-blue.svg" alt="4" width="114px" height="81px")