.rules.content-inner.js-anim
	.content
		.container-fluid
			include ../partials/welcome
			.instructions.row
				.col-md-4.box.box-1
					span.letter
						include ../partials/numbers/one
					.ver-center
						p Запишись на тест-драйв і пройди його до 31 жовтня 2016
				.col-md-4.box.box-2
					span.letter
						include ../partials/numbers/two
					.ver-center
						p
							| Виклади на своїй сторінці
							br
							| &nbsp;у Vk або Fb власні враження від
							br
							| &nbsp;поїздки на новому Peugeot 2008,
							br
							| &nbsp;додавши
							span &nbsp;#Навсі4сторони
				.col-md-4.box.box-3
					span.letter
						include ../partials/numbers/three
					.ver-center
						p Переможця визначимо
							br
							| &nbsp;за допомогою random.org
							br
							| &nbsp;1 листопада 2016
			.enroll
				.row
					.col.left.col-lg-6
						p
							| Отримай новий Peugeot 2008 на 2 тижні!
							br
							| Записуйся на тест-драйв.
					.col.col-lg-6
						include ../partials/btn-enroll
						a.link(target="_black" href="#") Офіційні правила
				.logo.small.hidden-xs.js-btn-home
					a(href="index.html")
						img(src="i/logo-full-blue.svg" alt="4" width="114px" height="81px")