.animated-view
	box-sizing border-box
	margin 0
	.btn-menu-wrap
		position fixed
	/* Header is expected to be a 100% width static element with overflow hidden. */
	header
		position static
		width 100%
		margin-top 10%
		overflow hidden
	/* The introductory image container is expected to be fixed positioned and cover the viewport */
	.header-img
		position fixed
		display block
		overflow hidden
		width 100%
		height 100%
		max-height 100%
		top 0
		left 0
		bottom 0
		right 0
		margin 0
		padding 0
	/* Content inside the header can be to your liking, but should be absolutely positioned. Here we are assuming all header content (other than the main image) is wrapped in a single <div> */
	header
		& > div
			&:not(.header-img)
				position relative
				margin 0 auto
				z-index 99999
	/* Animated content is expected to be wrapped in an <article> and is initially hidden. */
	article
		position relative
		opacity 0
		width 100%
		height 101
	.spacer
		padding-top 210px
		display block
.spacer
	display none