.home
	.logo
		&.big
			background $white
			position absolute
			top 0
			right 90px
			width 225px
			padding 80px 0 22px 0
			img
				display block
				margin 0 auto
				max-width 100%
				height auto
			@media (max-width: 1340px)
				padding 22px 16px 10px
				right 57px
				width 123px
			@media (max-width: 768px)
				right 15px
	.title.four-sides
		position absolute
		bottom 40px
		left 250px
		@media(max-width: 1200px)
			left auto
			right 0
			padding-right 20px
		@media(max-width: 767px)
			bottom -30px
			right 0
			transform scale(0.4)
			transform-origin right top
			img
				width 105px
	.content
		background: url(../i/bg-main.jpg) no-repeat center right/cover
		color $white
		position relative
		@media(max-width: 1200px)
			padding: 20px 0 150px;
			// background-image: url(../i/bg-home.jpg)
	.date
		float right
		padding 50px 430px 0 0
		color $white
		font-family 'peugeotbold'
		text-transform uppercase
		text-align center
		position relative
		@media(max-width: 1600px)
			padding-right 350px
		@media (max-width: 1340px)
			padding-right 220px
		@media(max-width: 1200px)
			float none
			margin-bottom 20px
			text-align right
			padding 0 20px
		@media(max-width: 749px)
			text-align center
		h2
			font-size 97px
			line-height 1
			@media(max-width: 1600px)
				font-size 68px
		p
			font-size 56px
			font-family 'peugeotbold'
			color $white
			line-height 1
			@media(max-width: 1600px)
				font-size 40px
	h1
		float left
		padding-top 70px
		padding-left: 200px
		font-size 68px
		font-family 'peugeotbold_italic'
		line-height 1
		margin 0 0 100px 0
		position relative
		span
			display block
			font-size: 33px
			font-family: 'peugeotregular'
			font-style italic
			line-height 37px
			@media(max-width: 1600px)
				font-size 28px
			@media(max-width: 1200px)
				font-size 24px
			@media(max-width: 749px)
				margin-top 10px
				font-size 22px
				line-height 25px
		@media(max-width: 1600px)
			padding-top 50px
			margin-bottom 50px
			font-size 54px
			padding-left 100px
		@media(max-width: 1200px)
			float none
			font-size 50px
			position relative
			text-align right
			padding 0 20px
			margin-bottom 20px !important
			padding-top 100px
		img
			margin 0 25px -25px 25px
		@media(max-width: 749px)
			position relative
			text-align center
			margin-bottom 20px !important
			padding-top 100px
			.first
			.second
				position absolute
				display block
				font-size 30px
			.first
				bottom 0
				right 120px
				bottom 35px
			.second
				bottom 0
				right 100px
			img
				display inline-block
				width 100px
				margin 0 !important
				height auto
	.desc
		width 610px
		float right
		margin-right 80px
		clear both
		@media(max-width: 1600px)
			width 540px
			margin-right 0px
		h2
			font-family 'peugeotbold'
			font-size 30px
			line-height 1.2
			@media(max-width: 992px)
				font-size 24px
		ul
			padding-left 0
			list-style none
			li
				position relative
				margin-bottom 15px
				font-size 18px
				line-height 1.2
				text-transform uppercase
				@media(max-width: 992px)
					margin-bottom 15px
					font-size 16px
				&:before
					content ""
					position absolute
					left -15px
					top 8px
					width 5px
					height 6px
					background url(../i/list-icon.png) no-repeat center center/cover
		@media(max-width: 1200px)
			float left
			margin 0
			padding 20px
			background rgba(#0f111a, .7);
			// margin-left 20px
		@media(max-width: 749px)
			width auto
			p
				font-size 20px
				line-height 24px
	@media(max-width: 749px)
		&.content-inner
			.content
				padding 20px 0 150px
				// background url('../i/bg-home.jpg') no-repeat center center / cover
		h1
			font-size 40px
			line-height 40px
			margin-bottom 50px
			img
				margin 15px
		#bgvid
			display none
	@media(min-width: 750px) and (max-width: 969px)
		h1
			font-size 50px
			margin-bottom 50px
	@media(min-width: 970px) and (max-width: 1499px)
		.container-fluid
			padding-bottom 100px
		h1
			margin-bottom 50px

#bgvid
	position absolute
	top 50%
	left 50%
	min-width 100%
	min-height 100%
	width auto
	height auto
	z-index -100
	transform translateX(-50%) translateY(-50%)

.scroll
	position absolute
	right 0
	bottom 0
	left 0
	margin auto
	text-align center
	padding-bottom 112px
	&:before
		content ""
		position absolute
		right 0
		bottom 0
		left 0
		margin auto
		width 2px
		height 95px
		display block
		background $white
	span
		font-size 23px
		line-height 1.2
		font-family 'peugeotlight'
		transform rotate(-90deg) translate(-50%, 50%)
		display inline-block
		transform-origin 0 0
		line-height 1
	@media(max-width: 749px)
		padding-bottom 80px
		&:before
			height 60px
	@media(min-width: 992px) and (max-width: 1499px)
		padding-bottom 80px
		&:before
			height 60px

// adaptive height
@media (min-width: 750px) and (max-width: 969px) and (min-height: 745px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			.ver-center
				// top 50%
				// transform translate(0, -50%)
// @media (min-width: 970px) and (max-width: 1169px) and (max-height: 749px)
// 	.home
// 		&.content-inner
// 			.content
// 				padding 70px 0 170px 0
// @media (min-width: 1170px) and (max-width: 1899px) and (max-height: 874px)
// 	.home
// 		&.content-inner
// 			.content
// 				padding 100px 0 150px
// @media (min-width: 1900px) and (max-height: 759px)
// 	.home
// 		&.content-inner
// 			.content
// 				padding 100px 0 200px
// FIX
@media (min-width: 970px) and (max-width: 1170px) and (min-height: 650px)
	.home-view
	.home
		height 100vh
	.home
		.desc
			position relative
			top -150px
			h2
				font-size 26px
			ul
				li
					font-size 15px
		&.content-inner
			// .ver-center
			// 	top 50%
			// 	transform translate(0, -50%)
@media (min-width: 1170px) and (max-width: 1899px) and (min-height: 880px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			// .ver-center
			// 	top 50%
			// 	transform translate(0, -50%)
@media (min-width: 1900px) and (min-height: 760px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			// .ver-center
			// 	top 50%
			// 	transform translate(0, -50%)
@media (min-width: 970px) and (max-height: 765px)
	.home
		&.content-inner
			// .content
			// 	padding 20px 0 150px
			h1
				padding-top 50px
				font-size 44px
				span
					line-height 30px
					font-size 24px
@media(max-width: 480px)
	.home
		h1
			padding-left 0
			padding-right 0
			font-size 32px
			line-height 35px
			span
				font-size 18px
		.date
			h2
				font-size 48px
			p
				font-size 28px
		.desc
			margin-left -15px
			margin-right -15px
			h2
				font-size 20px
			ul
				li
					text-transform none
					font-size 16px
@media (min-width: 1200px) and (max-width: 1400px) and (min-height: 750px)
	.home
		.desc
			position relative
			top -30px
@media (min-width: 1200px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 750px)
	.home
		h1
			padding-top 55px
			font-size 60px
		.desc
			position relative
			width 460px
			top -30px
			h2
				font-size 24px
			ul
				li
					margin-bottom 15px
					font-size 14px
