.btn-menu-wrap
	overflow hidden
	position absolute
	top 40px
	left 40px
	width 20%
	z-index 10001
	@media (max-width: 969px)
		width 80%
		position fixed
	@media (min-width: 750px) and (max-width: 969px)
		width 30%
.tablet
.story-view
	.btn-menu-wrap
		position fixed

.btn-menu
	display block
	width 60px
	height 60px
	border none
	outline none
	padding 0
	position relative
	&:after
		content ""
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background $blue
		z-index 11
	.line
		width 30px
		height 3px
		background $white
		display block
		margin-left auto
		margin-right auto
		transition-property width, transform
		transition-duration 0.3s
		transition-timing-function ease
		transition-delay 0s
		z-index 12
		transform rotate(0)
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		margin auto
		&:nth-child(1)
			transform translate(0px, -10px)
		&:nth-child(3)
			transform translate(0px, 10px)
	.text
		position absolute
		top 0
		bottom 0
		left 100%
		margin auto
		padding-left 15px
		font-size 23px
		line-height 60px
		color $white
		font-family 'peugeotlight'
		transform translate(-100%, 0)
		transition transform 0.3s ease 0s
		z-index 10
		&.close
			color $blue
	&:focus
		outline none
	&:hover
		.line
			&:nth-child(2)
				width 15px
		.text
			&.open
				transform translate(0, 0)
	&.opened
		.line
			transform-origin center center
			&:nth-child(1)
				transform rotate(45deg) translate(0px, 0px) !important
			&:nth-child(2)
				width 0
			&:nth-child(3)
				transform rotate(-45deg) translate(0px, 0px) !important
		.text
			&.open
				transform translate(-100%, 0)
			&.close
				transform translate(0%, 0)
.menu
	background $white
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 10000
	// transform: scale(0)
	// transition transform 0.3s ease 0s
	// &.opened
		// transform scale(1)
	.ver-center
		top 50%
		transform translate(0, -50%)

#menu
	text-align center
	ul
		padding 0
		margin 0
		list-style none
		li
			a
				display block
				text-decoration none
				color $blue
				font-size 46px
				line-height 75px
				text-transform uppercase
				transition font-size 0.3s linear 0s
				position relative
				@media (max-width: 767px)
					font-size 26px
					line-height 55px
				&:before
				&:after
					content ""
					position absolute
					top 0
					bottom 0
					margin auto
					height 3px
					width 0
					background $white
					z-index 1
					transition width 0.5s linear 0s
				&:before
					left 0
				&:after
					right 0
				&:hover
				&:focus
				&:visited
					text-decoration none
				span
					display inline-block
					padding 0 50px
					position relative
					z-index 2
					background $gray
					white-space nowrap
					@media (max-width: 750px)
						padding 0 15px
			&:hover
				a
					font-size 75px
					@media (max-width: 750px)
						font-size 36px
					&:before
					&:after
						width 100%
						transition-delay 0s



// in animation
.overlay-menu
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $white
.wrapper
	&.main
	&.story-view
		opacity 1
		background #fff
		transition opacity, transform 0.5s
.overlay-open
	.wrapper
		&.main
		&.story-view
			transform scale(0.8)
			opacity 0.5
.overlay-contentscale
	visibility hidden
	transform translateY(100%)
	transition transform 0.5s, visibility 0s 0.5s
.overlay-contentscale
	&.opened
		visibility visible
		transform translateY(0%)
		transition transform 0.5s

// menu hover effect
.glitch
	position relative
	&:after
	&:before
		padding 0 50px
		content attr(data-text)
		position absolute
		top 0
		color $blue
		background $gray
		overflow hidden
		clip rect(0,900px,0,0)
		@media (max-width: 750px)
			padding 0 15px
	&:after
		left 4px
	&:before
		left -2px
	&:hover
		&:after
			animation noise-anim 2s infinite linear alternate-reverse
		&:before
			animation noise-anim-2 10s infinite linear alternate-reverse

@keyframes noise-anim {
	0% {
		clip: rect(5px, 9999px, 84px, 0);
	}
	5% {
		clip: rect(90px, 9999px, 13px, 0);
	}
	10% {
		clip: rect(46px, 9999px, 21px, 0);
	}
	15% {
		clip: rect(71px, 9999px, 57px, 0);
	}
	20% {
		clip: rect(5px, 9999px, 81px, 0);
	}
	25% {
		clip: rect(12px, 9999px, 33px, 0);
	}
	30% {
		clip: rect(6px, 9999px, 18px, 0);
	}
	35% {
		clip: rect(51px, 9999px, 90px, 0);
	}
	40% {
		clip: rect(13px, 9999px, 73px, 0);
	}
	45% {
		clip: rect(67px, 9999px, 7px, 0);
	}
	50% {
		clip: rect(23px, 9999px, 3px, 0);
	}
	55% {
		clip: rect(28px, 9999px, 14px, 0);
	}
	60% {
		clip: rect(66px, 9999px, 45px, 0);
	}
	65% {
		clip: rect(80px, 9999px, 90px, 0);
	}
	70% {
		clip: rect(18px, 9999px, 87px, 0);
	}
	75% {
		clip: rect(19px, 9999px, 31px, 0);
	}
	80% {
		clip: rect(8px, 9999px, 94px, 0);
	}
	85% {
		clip: rect(4px, 9999px, 38px, 0);
	}
	90% {
		clip: rect(54px, 9999px, 31px, 0);
	}
	95% {
		clip: rect(63px, 9999px, 78px, 0);
	}
	100% {
		clip: rect(44px, 9999px, 26px, 0);
	}
}
@keyframes noise-anim-2 {
	0% {
		clip: rect(79px, 9999px, 91px, 0);
	}
	5% {
		clip: rect(67px, 9999px, 34px, 0);
	}
	10% {
		clip: rect(49px, 9999px, 91px, 0);
	}
	15% {
		clip: rect(81px, 9999px, 1px, 0);
	}
	20% {
		clip: rect(15px, 9999px, 40px, 0);
	}
	25% {
		clip: rect(21px, 9999px, 45px, 0);
	}
	30% {
		clip: rect(42px, 9999px, 45px, 0);
	}
	35% {
		clip: rect(32px, 9999px, 88px, 0);
	}
	40% {
		clip: rect(52px, 9999px, 99px, 0);
	}
	45% {
		clip: rect(6px, 9999px, 94px, 0);
	}
	50% {
		clip: rect(49px, 9999px, 92px, 0);
	}
	55% {
		clip: rect(68px, 9999px, 58px, 0);
	}
	60% {
		clip: rect(20px, 9999px, 95px, 0);
	}
	65% {
		clip: rect(77px, 9999px, 51px, 0);
	}
	70% {
		clip: rect(80px, 9999px, 78px, 0);
	}
	75% {
		clip: rect(96px, 9999px, 73px, 0);
	}
	80% {
		clip: rect(59px, 9999px, 73px, 0);
	}
	85% {
		clip: rect(38px, 9999px, 48px, 0);
	}
	90% {
		clip: rect(67px, 9999px, 82px, 0);
	}
	95% {
		clip: rect(55px, 9999px, 99px, 0);
	}
	100% {
		clip: rect(71px, 9999px, 95px, 0);
	}
}