.wrapper
	&.main
		&.not-loaded
			width 100%
			height 100vh
			position absolute
			top 0
			left 0
			visibility hidden
			overflow hidden
			backface-visibility hidden
			transform translate3d(0, 0, 0)
			float none
			&.pt-page-current
				z-index 10002
			#bgvid
				opacity 0
.preloader-wrap
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 10001
	opacity 1
	transition opacity 0.3s ease 0s
	background $white

	width 100%
	height 100vh
	visibility visible
	overflow hidden
	backface-visibility hidden
	transform translate3d(0, 0, 0)
	float none
	&.loaded
		opacity 0
		z-index -1
	.ver-center
		top 50%
		transform translate(0, -50%)
	.content
		font-family 'peugeotlight'
	.loag-img
		img
			max-width 100%
			height auto
			@media(min-width: 1170px)
				margin-left -15px
	p
		color $blue
		font-size 23px
		line-height 30px
		padding-left 20px
	@media(max-width: 749px)
		p
			margin-bottom 5px
			font-size 14px
			padding-left 5%