.rules
	.instructions
		background $white
		padding 45px 0
		.box
			padding-left 225px
			height 325px
			@media (min-width: 1920px)
				&.box-2
					padding-left 235px
		.letter
			line-height 1
			color $blue
			font-family 'peugeotitalic'
			position absolute
			left 0
			width 225px
			text-align center
		@media (max-width: 579px)
			.box
				padding-left 120px
				min-height 150px
				height auto
				margin-bottom 20px
				&.box-2
					padding-left 0
					padding-right 120px
					p
						text-align right
			.letter
				width 100px
				font-size 100px
				line-height 1
			p
				font-size 18px
				line-height 24px
				top auto
				transform translateY(0%)
		@media (min-width: 580px) and (max-width: 969px)
			.box
				height auto
				height 160px
				padding-left 150px
				&.box-2
					padding-left 0
					padding-right 150px
					p
						text-align right
			.letter
				width 125px
		@media (min-width: 580px)
			.box
				.ver-center
					top 50%
					transform translate(0, -50%)
		@media (max-width: 969px)
			.box
				&.box-2
					.letter
						right 0
						left auto
		@media (min-width: 970px) and (max-width: 1169px)
			padding 10px 0
			.box
				padding-left 120px
				height 200px
				&.box-1
				&.box-3
					width 30%
				&.box-2
					width 40%
			.letter
				width 100px
				// font-size 100px
				// line-height 200px
				height 130px
				top 0
				bottom 0
				margin auto
			p
				font-size 18px
				line-height 24px
		@media (min-width: 1170px) and (max-width: 1919px)
			padding 10px 0
			.box
				padding-left 150px
				height 200px
				&.box-1
				&.box-3
					width 30%
				&.box-2
					width 40%
			.letter
				width 120px
				height 155px
				top 0
				bottom 0
				margin auto
				// font-size 200px
				// line-height 250px
		@media (min-width: 1919px)
			.letter
				height 290px
				top 0
				bottom 0
				margin auto
		@media (max-width: 1199px)
			.box
				br
					display none
		@media (min-width: 1200px)
			padding 10px 0 45px 0
		@media (min-width: 970px) and (max-height: 765px)
			padding 10px 0
@media (min-width: 1170px) and (min-height: 910px)
	.rules-view
	.rules
		height 100%

.enroll
	padding 50px 15px 40px 15px
	position relative
	background $gray
	margin 0 -15px
	p
		font-size 27px
		line-height 30px
	.col
		padding 0
	.left
		padding-left 100px
	.btn
		padding 38px 55px
	.link
		display block
		padding-top 13px
	@media (max-width: 1169px)
		padding 65px 30px
		text-align center
		p
			margin-bottom 45px
		.left
			padding-left 0
		.btn
			padding 38px 25px
	@media (min-width: 1170px)
		.row
			display flex
			align-items center
	@media (min-width: 970px) and (max-height: 800px)
		padding 20px 15px 20px 15px
		p
			font-size 25px
			margin-bottom 15px
		.btn
			padding 30px 55px
	@media (max-width: 749px)
		padding 65px 30px 120px 30px
.title
	&.four-sides
		font-family 'peugeotbold_italic'
		font-size 31px
		position relative
		display inline-block
		padding-top 30px
		padding-right 57px
		img
			width 105px
			height 147px
		span
			position absolute
			right 100%
			&.first
				bottom 47px
				padding-right:20px
				white-space nowrap
			&.second
				bottom 10px
				margin-right -10px
		@media (max-width: 749px)
			padding-right 0
.number
	path
		fill $blue
	.crashed
		display none
