.stories
	.item
		padding 0
	h3.title
		position absolute
		top 0
		right 0
		color $white
		z-index 10
.stories-wrap
	position relative
	overflow hidden
.section-grid
	height 100%
@media (max-width: 749px)
	.stories
		h3.title
			transform-origin right top
			transform scale(0.5)
@media (min-width: 1200px)
	.animated-content
		.stories-view
		.stories
			height 100vh
@media (max-width: 991px)
	.stories
		.viewport-height
		.section
			height 100vh
@media (min-width: 992px)
	.stories
		.viewport-height
		.section
			height 690px

#talents-section-images
	.talent-wrapper
		position realtive
		&:before
			content ""
			display block
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			width 100%
			height 100%
			z-index 10
			background alpha($black, 0.5)

.talent-text
	padding-bottom 50px
	color $white
	text-align left
	z-index 40 !important
	.name
		text-transform uppercase
		padding 5px 0
		position relative
		font-size 36px
		line-height 41px
		display block
		font-family 'peugeotlight'
		&:before
			content ""
			display block
			width 20%
			height 1px
			position absolute
			top 0
			left 0
			background $white
			transition width 0.3s linear
	.city
		opacity 0
		display block
		font-size 23px
		line-height 30px
		font-family 'peugeotlight'
		min-height 100px
#talents-overlay
	.talent-cta
		color $white
		text-align left
		text-decoration none
		span
			display block
		.title
			font-size 40px
			line-height 1
		.desc
			font-size 23px
			font-family 'peugeotlight'
#talents-section-images.-mouseover .-current .talent-text .name:before
	width 80%

.talent-slide
	h2
	.city
	.btn
		color $white
	.btn
		// font-size 20px
		text-transform none
		font-family 'peugeotregular'
		&:hover
			text-decoration underline
.home-carousel .navigation > *
	border 1px solid alpha($white, 0.5)
.home-carousel
	.navigation
		a
			transition border 0.5s ease
			&:before
				content ""
				display block
				position absolute
				top 50%
				// right 0
				// bottom 0
				// left 0
				margin auto
				width 20px
				height 20px
				border-style solid
				border-color alpha($white, 0.5)
			&[data-prev]
				&:before
					left 50%
					border-width 1px 0 0 1px
					transform rotate(-45deg) translate(-0px, -10px)
			&[data-next]
				&:before
					right 50%
					border-width 1px 1px 0 0
					transform rotate(45deg) translate(-0px, -10px)
			&:hover
				border-color $white
				&:before
					border-color $white
@media (max-width: 479px)
	.home-carousel
		#home-carousel-front
			width 100% !important
@media (max-width: 749px) and (max-height: 400px)
	.talent-slide
		h3
			display none
@media (min-width: 750px) and (max-width: 1270px) and (max-height: 800px)
	.stories
		.talent-text
			left 15px
			padding-bottom 50px
			.name
				font-size 26px
			.city
				display none
		#talents-overlay
			.talent-cta
				top 40%
			.title
				font-size 30px
			.desc
				font-size 18px
		h3
			&.title
				transform-origin right top
				transform scale(0.8)
@media (max-width: 1600px)
	.stories
		.logo.small
			bottom 25px
