@css {

	#home-carousel #home-carousel-inset {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0
	}

	@media screen and (min-width: 992px) {
		#home-carousel {
			display: none;
		}
	}

	.owl-carousel .animated {
		-webkit-animation-duration: 1000ms;
		animation-duration: 1000ms;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both
	}

	.owl-carousel .owlFadeOut {
		-webkit-animation-name: owlFadeOut;
		animation-name: owlFadeOut;
		animation-delay: 0s;
		animation-duration: 3s
	}

	@-webkit-keyframes owlFadeOut {
		0% {
			opacity: 1
		}
		to {
			opacity: 0
		}
	}

	@keyframes owlFadeOut {
		0% {
			opacity: 1
		}
		to {
			opacity: 0
		}
	}

	.owl-carousel .owlFadeIn {
		-webkit-animation-name: owlFadeIn;
		animation-name: owlFadeIn;
		animation-delay: 3s;
		animation-duration: 3s
	}

	@-webkit-keyframes owlFadeIn {
		0% {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}

	@keyframes owlFadeIn {
		0% {
			opacity: 0
		}
		to {
			opacity: 1
		}
	}

	.owl-height {
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out
	}

	.owl-carousel {
		display: none;
		width: 100%;
		-webkit-tap-highlight-color: transparent;
		position: relative;
		z-index: 1
	}

	.owl-carousel .owl-stage {
		position: relative;
		-ms-touch-action: pan-Y
	}

	.owl-carousel .owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0
	}

	.owl-carousel .owl-stage-outer {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0, 0, 0)
	}

	.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}

	.owl-carousel.owl-loaded {
		display: block
	}

	.owl-carousel.owl-loading {
		opacity: 0;
		display: block
	}

	.owl-carousel.owl-hidden {
		opacity: 0
	}

	.owl-carousel .owl-refresh .owl-item {
		display: none
	}

	.owl-carousel .owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}

	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d
	}

	.owl-carousel.owl-text-select-on .owl-item {
		-webkit-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto
	}

	.owl-carousel .owl-grab {
		cursor: -webkit-grabbing;
		cursor: -o-grabbing;
		cursor: -ms-grabbing;
		cursor: grabbing
	}

	.owl-carousel.owl-rtl {
		direction: rtl
	}

	.owl-carousel.owl-rtl .owl-item {
		float: right
	}

	.no-js .owl-carousel {
		display: block
	}

	.owl-carousel .owl-item .owl-lazy {
		opacity: 0;
		-webkit-transition: opacity 400ms ease;
		-moz-transition: opacity 400ms ease;
		-ms-transition: opacity 400ms ease;
		-o-transition: opacity 400ms ease;
		transition: opacity 400ms ease
	}

	.section-grid {
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 4;
		pointer-events: none;
		margin: 0 auto
	}

	.section-grid span {
		position: absolute;
		transform-origin: 0 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 2px;
		background: #fff;
		opacity: 0.5
	}

	.section-grid span:nth-child(1) {
		left: calc(16.66% - 1px)
	}

	.section-grid span:nth-child(2) {
		left: 83.32%
	}

	.section-grid span:nth-child(3), .section-grid span:nth-child(4) {
		display: none
	}

	@media screen and (min-width: 992px) {
		.section-grid span:nth-child(1) {
			left: 25%
		}

		.section-grid span:nth-child(2) {
			left: 75%
		}
	}

	@media screen and (min-width: 992px) {
		.section-grid span:nth-child(1) {
			left: 25%
		}

		.section-grid span:nth-child(2) {
			left: 50%
		}

		.section-grid span:nth-child(3) {
			display: inline;
			left: 75%
		}

		.section-grid span:nth-child(4) {
			display: inline;
			left: 80%
		}
	}


	.talent-background {
		position: absolute;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		zoom: 1;
		filter: alpha(opacity=0);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		left: 0;
		right: 0;
		transition: opacity 1s
	}

	.talent-background:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 300px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDIyLCAyMiwgMjIpIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
		background-image: -webkit-linear-gradient(bottom, #161616 0%, rgba(22, 22, 22, 0) 100%);
		background-image: -moz-linear-gradient(bottom, #161616 0%, rgba(22, 22, 22, 0) 100%);
		background-image: -o-linear-gradient(bottom, #161616 0%, rgba(22, 22, 22, 0) 100%);
		background-image: linear-gradient(to top, #161616 0%, rgba(22, 22, 22, 0) 100%)
	}

	.-stage_start .talent-background {
		opacity: .5
	}

	.talent-section {
		display: table;
		width: 100%;
		padding: 80px 16.66%;
		margin: -80px 0;
		position: relative;
		z-index: 5;
		opacity: 0;
		overflow: hidden;
		-webkit-transition: opacity 4s;
		-moz-transition: opacity 4s;
		-o-transition: opacity 4s;
		transition: opacity 4s;
		-webkit-transition-delay: 1s;
		-moz-transition-delay: 1s;
		-o-transition-delay: 1s;
		transition-delay: 1s
	}

	@media screen and (max-width: 767px) {
		#scrollto + .talent-section {
			padding-top: 0
		}
	}

	@media screen and (min-width: 768px) {
		.talent-section {
			width: 100%;
			padding: 100px 20%;
			margin: 0
		}
	}

	@media screen and (min-width: 992px) {
		.talent-section {
			width: 80%;
			height: auto;
			padding: 100px 0;
			margin-left: 20%;
			overflow: visible
		}
	}

	@media screen and (min-width: 1600px) {
		.talent-section {
			padding: 150px 0
		}
	}

	.-stage_start .talent-section {
		opacity: 1
	}

	.talent-section .circle-loader {
		position: absolute !important;
		top: 50%;
		left: 50%;
		margin-top: -40px;
		margin-left: -40px;
		z-index: 5
	}

	.-stage_video_loaded .talent-section .circle-loader {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(.96);
		-moz-transform: scale(.96);
		-ms-transform: scale(.96);
		-o-transform: scale(.96);
		transform: scale(.96);
		-webkit-transition: opacity 1s, visibility 0s 1s, -webkit-transform 1s;
		-moz-transition: opacity 1s, visibility 0s 1s, -moz-transform 1s;
		-o-transition: opacity 1s, visibility 0s 1s, -o-transform 1s;
		transition: opacity 1s, visibility 0s 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s, transform 1s
	}

	.talent-section > .wrapper {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		padding-top: 70px;
		font-size: 0
	}

	@media screen and (min-width: 992px) {
		.talent-section > .wrapper {
			padding-top: 0
		}
	}

	.talent-section > .wrapper > * {
		font-size: 12px
	}

	.talent-section .textwrap {
		display: inline-block;
		vertical-align: middle
	}

	@media screen and (min-width: 992px) {
		.talent-section .textwrap {
			width: 35%;
			-webkit-transform: translate(0, 0);
			-moz-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
			-webkit-transition: -webkit-transform .6s ease .4s, opacity 1s ease .4s;
			-moz-transition: -moz-transform .6s ease .4s, opacity 1s ease .4s;
			-o-transition: -o-transform .6s ease .4s, opacity 1s ease .4s;
			transition: -webkit-transform .6s ease .4s, -moz-transform .6s ease .4s, -o-transform .6s ease .4s, transform .6s ease .4s, opacity 1s ease .4s
		}
	}

	@media screen and (min-width: 768px) {
		.talent-section .textwrap p {
			font-size: 2em
		}
	}

	.talent-section .image {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%
	}

	@media screen and (min-width: 992px) {
		.talent-section .image {
			width: calc(50% - 70px);
			margin-right: 70px
		}
	}

	@media screen and (min-width: 1600px) {
		.talent-section .image {
			max-width: 480px
		}
	}

	.talent-section .image .frame, .talent-section .image .frame .imgwrap {
		width: 100%;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}

	.talent-section .image .frame {
		padding-bottom: 150%;
		background-color: transparent;
		overflow: hidden;
		-webkit-transform-origin: -175% 50%;
		-moz-transform-origin: -175% 50%;
		-ms-transform-origin: -175% 50%;
		-o-transform-origin: -175% 50%;
		transform-origin: -175% 50%;
		-webkit-transition: -webkit-transform .5s ease .2s, background-color 0s linear .7s;
		-moz-transition: -moz-transform .5s ease .2s, background-color 0s linear .7s;
		-o-transition: -o-transform .5s ease .2s, background-color 0s linear .7s;
		transition: -webkit-transform .5s ease .2s, -moz-transform .5s ease .2s, -o-transform .5s ease .2s, transform .5s ease .2s, background-color 0s linear .7s;
		position: relative;
		height: 0
	}

	@media screen and (min-width: 768px) {
		.talent-section .image .frame {
			-webkit-transform-origin: -175% 50%;
			-moz-transform-origin: -175% 50%;
			-ms-transform-origin: -175% 50%;
			-o-transform-origin: -175% 50%;
			transform-origin: -175% 50%
		}
	}

	@media screen and (min-width: 992px) {
		.talent-section .image .frame {
			-webkit-transform-origin: 0 50%;
			-moz-transform-origin: 0 50%;
			-ms-transform-origin: 0 50%;
			-o-transform-origin: 0 50%;
			transform-origin: 0 50%
		}
	}

	.talent-section .image .frame .imgwrap {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		-webkit-transition: all .5s ease .2s;
		-moz-transition: all .5s ease .2s;
		-o-transition: all .5s ease .2s;
		transition: all .5s ease .2s
	}

	.talent-section .image .frame .img {
		position: absolute;
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		top: -10px;
		left: -10px;
		background-size: cover;
		background-repeat: none;
		background-position: center;
		-webkit-transform: scale(1.07);
		-moz-transform: scale(1.07);
		-ms-transform: scale(1.07);
		-o-transform: scale(1.07);
		transform: scale(1.07)
	}

	.talent-section.-text {
		height: auto;
		margin: 0;
		padding-top: 50px;
		padding-bottom: 65px;
	}

	.talent-text {
		position: absolute;
		left: 38px;
		right: 25px;
		bottom: 0;
		z-index: 4;
		transition: visibility 0s 1s, opacity 1s;
	}
	#talents-section-images .talent-text .name {
		opacity: 0.5;
		-webkit-transform: translateY(25px);
		-moz-transform: translateY(25px);
		-ms-transform: translateY(25px);
		-o-transform: translateY(25px);
		transform: translateY(25px);
	}
	#talents-section-images .talent-text .city {
		opacity: 0;
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		.talent-text .name .slash {
			display: none
		}
	}

	.talent-text .city, .talent-text .name, .talent-text span {
		-webkit-transition: -webkit-transform opacity;
		-moz-transition: -moz-transform opacity;
		-o-transition: -o-transform opacity;
		transition: -webkit-transform opacity, -moz-transform opacity, -o-transform opacity, transform opacity;
		-webkit-transition-duration: .6s;
		-moz-transition-duration: .6s;
		-o-transition-duration: .6s;
		transition-duration: .6s
	}

	.talent-text span {
		position: absolute;
		font-weight: 100;
		color: rgba(255, 255, 255, .1);
		font-size: 180px;
		text-align: center;
		left: 0;
		right: 0;
		bottom: -30px;
		opacity: 0
	}

	.talent-text span:after {
		height: 25px;
		width: 1px;
		content: '';
		background: rgba(255, 255, 255, .1);
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: scale(0);
		transform-origin: 100% 100%;
		transition: transform 2s
	}

	.talent-nextstory {
		position: relative;
		height: auto;
		overflow: hidden
	}

	.home-carousel #home-carousel-front .owl-item.active, .talent-nextstory.-visible .background, .talent-slider .owl-item.active.center .item {
		opacity: 1
	}

	.talent-nextstory.-visible .talent-text .name {
		transform: translateY(-50px);
		opacity: 1;
		transition-duration: .8s
	}

	.talent-nextstory.-visible .talent-text .city {
		transform: translateY(-50px);
		opacity: 1;
		transition-duration: 1s
	}

	.talent-nextstory.-visible .talent-text span {
		transform: translateY(-10px);
		opacity: 1;
		transition-duration: .8s
	}

	.talent-nextstory.-visible .talent-text span:after {
		transform: scale(1)
	}


	.talent-slider {
		width: 100%;
		z-index: 6;
		position: relative;
		margin: 0 auto 120px;
		padding-bottom: 40px;
		overflow: hidden
	}

	.talent-slider .owl-item {
		background-color: #161616;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0)
	}

	.talent-slider .owl-item .item, .talent-slider .owl-item:after, .talent-slider .owl-item:before {
		opacity: .2;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s
	}

	.talent-slider .owl-item:after, .talent-slider .owl-item:before {
		pointer-events: none;
		z-index: 3;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 300px;
		content: '';
		opacity: 0
	}

	.talent-slider .owl-item:before {
		left: 0;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDAsMCwwKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(from left, #161616 0%, transparent 100%);
		background-image: -moz-linear-gradient(from left, #161616 0%, transparent 100%);
		background-image: -o-linear-gradient(from left, #161616 0%, transparent 100%);
		background-image: linear-gradient(from to right, #161616 0%, transparent 100%)
	}

	.talent-slider .owl-item:after {
		right: 0;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDAsMCwwKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(from right, #161616 0%, transparent 100%);
		background-image: -moz-linear-gradient(from right, #161616 0%, transparent 100%);
		background-image: -o-linear-gradient(from right, #161616 0%, transparent 100%);
		background-image: linear-gradient(from to left, #161616 0%, transparent 100%)
	}

	.talent-slider .owl-item.active.center:after, .talent-slider .owl-item.active.center:before {
		opacity: 0
	}

	.talent-slider .owl-nav {
		width: 60%;
		max-width: 950px;
		top: 50%;
		position: absolute;
		margin: -40px auto 0;
		left: 0;
		right: 0
	}

	@media screen and (max-width: 991px) {
		.talent-slider .owl-nav {
			display: none
		}
	}

	.talent-slider .owl-nav > * {
		position: absolute;
		width: 40px;
		height: 80px;
		top: 0;
		border: 1px solid #3e3e3e;
		text-indent: 999px;
		font-size: 0;
		background-size: 6px auto;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transition: border-color .2s ease, opacity 1s;
		-moz-transition: border-color .2s ease, opacity 1s;
		-o-transition: border-color .2s ease, opacity 1s;
		transition: border-color .2s ease, opacity 1s
	}

	.talent-slider .owl-nav > :hover {
		border: 1px solid #8b8b8b
	}

	.talent-slider .owl-nav .owl-prev {
		left: -60px;
	}

	.talent-slider .owl-nav .owl-next.disabled, .talent-slider .owl-nav .owl-prev.disabled {
		opacity: 0;
		pointer-events: none
	}

	@media screen and (min-width: 1600px) {
		.talent-slider .owl-nav .owl-prev {
			left: -40px
		}
	}

	.talent-slider .owl-nav .owl-next {
		right: -60px;
	}

	@media screen and (min-width: 1600px) {
		.talent-slider .owl-nav .owl-next {
			right: -40px
		}
	}

	.talent-slider .owl-controls .owl-dots {
		z-index: 9;
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 10px;
		bottom: -30px;
		text-align: center
	}

	.talent-slider .owl-controls .owl-dots .owl-dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 1px solid #3e3e3e;
		-webkit-border-radius: 50%;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 50%;
		-moz-background-clip: padding;
		border-radius: 50%;
		background-clip: padding-box;
		margin: 0 2px;
		-webkit-transition: border-color .3s ease;
		-moz-transition: border-color .3s ease;
		-o-transition: border-color .3s ease;
		transition: border-color .3s ease
	}

	.home-carousel #home-carousel-front .owl-dots .owl-dot.active, .talent-slider .owl-controls .owl-dots .owl-dot.active {
		border-color: #fff
	}

	#talents-section, .home-carousel {
		-webkit-transition: -webkit-transform 1s cubic-bezier(.645, .045, .355, 1);
		-moz-transition: -moz-transform 1s cubic-bezier(.645, .045, .355, 1);
		-o-transition: -o-transform 1s cubic-bezier(.645, .045, .355, 1);
		transition: -webkit-transform 1s cubic-bezier(.645, .045, .355, 1), -moz-transform 1s cubic-bezier(.645, .045, .355, 1), -o-transform 1s cubic-bezier(.645, .045, .355, 1), transform 1s cubic-bezier(.645, .045, .355, 1)
	}

	.home-carousel .navigation {
		z-index: 6;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0
	}

	.home-carousel .navigation > * {
		display: block !important;
		position: absolute;
		width: 40px;
		height: 80px;
		top: 50%;
		margin-top: -40px;
		text-indent: 999px;
		background-size: 6px auto;
		background-position: center;
		background-repeat: no-repeat
	}

	.home-carousel .navigation [data-prev] {
		border-right: none;
		right: 83.6%;
	}

	@media screen and (min-width: 992px) {
		.home-carousel .navigation [data-prev] {
			right: 80%
		}
	}

	.home-carousel .navigation [data-next] {
		border-left: none;
		left: 83.6%;
	}

	@media screen and (min-width: 992px) {
		.home-carousel .navigation [data-next] {
			left: 80%
		}
	}

	.home-carousel #home-carousel-front {
		width: 66.66%;
		margin: 0 auto;
		z-index: 9;
		-webkit-box-shadow: 0 0 80px 0 #000;
		-moz-box-shadow: 0 0 80px 0 #000;
		box-shadow: 0 0 80px 0 #000
	}

	@media screen and (min-width: 992px) {
		.home-carousel #home-carousel-front {
			width: 60%
		}
	}

	.home-carousel #home-carousel-front .owl-item {
		opacity: .5;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s
	}

	.home-carousel #home-carousel-front .owl-dots {
		z-index: 9;
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 10px;
		bottom: 30px;
		text-align: center
	}

	.home-carousel #home-carousel-front .owl-dots .owl-dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 1px solid #3e3e3e;
		-webkit-border-radius: 50%;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 50%;
		-moz-background-clip: padding;
		border-radius: 50%;
		background-clip: padding-box;
		margin: 0 2px
	}

	.home-carousel #home-carousel-back .owl-item {
		opacity: .3
	}

	.home-carousel .home-carousel-inset {
		background: #161616;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0
	}

	.home-carousel .home-carousel-inset .wrapper {
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s
	}

	.home-carousel .home-carousel-inset.-moving .wrapper {
		opacity: 0
	}

	#talents-section .bottom-band img, .home-carousel .bottom-band img {
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-o-transition: .2s;
		transition: .2s
	}

	.talent-slide {
		text-align: center;
		z-index: 6;
		overflow: hidden;
		position: relative;
		display: block
	}
	.talent-slide:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		z-index: 10;
	}
	.talent-slide .background {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-position: center 15%
	}

	.talent-slide .wrapper {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		height: auto;
		z-index: 10;
	}

	.talent-slide h2 {
		margin-bottom: 5px
	}

	.talent-slide h3 {
		margin-bottom: 20px
	}

	.talent-slide .btn {
		width: 80%;
		padding-left: 0;
		padding-right: 0;
		background: transparent
	}


	@media screen and (max-width: 991px) {
		#talents-section {
			display: none !important
		}
	}

	#talents-section #talents-section-inset {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0
	}

	#talents-section .bottom-band {
		opacity: 0;
		-webkit-transform: translateY(50%);
		-moz-transform: translateY(50%);
		-ms-transform: translateY(50%);
		-o-transform: translateY(50%);
		transform: translateY(50%);
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		-webkit-transition-delay: 2s;
		-moz-transition-delay: 2s;
		-o-transition-delay: 2s;
		transition-delay: 2s
	}

	.-stage_start #talents-section .bottom-band, .-stage_start #talents-section-images .talent-wrapper {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none
	}


	#talents-overlay {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 20
	}

	#talents-overlay .talent-overlay {
		position: absolute;
		width: 25%;
		top: 0;
		bottom: 0;
		// background: rgba(0,0,0,0.3)
	}

	#talents-overlay .talent-cta {
		position: absolute;
		left: 40px;
		right: 20px;
		height: auto;
		overflow: visible;
		top: 40%;
		z-index: 4;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: -webkit-transform 1s, opacity .2s, visibility 0 0.5s;
		-moz-transition: -moz-transform 1s, opacity .2s, visibility 0 0.5s;
		-o-transition: -o-transform 1s, opacity .2s, visibility 0 0.5s;
		transition: -webkit-transform 1s, -moz-transform 1s, -o-transform 1s, transform 1s, opacity .2s, visibility 0 0.5s;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		#talents-overlay .talent-cta {
			left: 10px;
			right: 10px;
			padding: 25px 15px
		}
	}

	#talents-overlay .talent-cta:hover:after {
		zoom: 1;
		filter: alpha(opacity=70);
		-webkit-opacity: .7;
		-moz-opacity: .7;
		opacity: .7
	}

	#talents-overlay.-mouseover .-current .talent-cta {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
		-webkit-transition-delay: 0.5s;
		-moz-transition-delay: 0.5s;
		-o-transition-delay: 0.5s;
		transition-delay: 0.5s
	}

	#talents-overlay.-stage_end .-current .talent-cta {
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		-o-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-transition: opacity 1.6s, -webkit-transform 1.6s;
		-moz-transition: opacity 1.6s, -moz-transform 1.6s;
		-o-transition: opacity 1.6s, -o-transform 1.6s;
		transition: opacity 1.6s, -webkit-transform 1.6s, -moz-transform 1.6s, -o-transform 1.6s, transform 1.6s;
		opacity: 0;
		-webkit-transition-delay: .2s !important;
		-moz-transition-delay: .2s !important;
		-o-transition-delay: .2s !important;
		transition-delay: .2s !important
	}

	#talents-section-images {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: #161616;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
		-webkit-transition-delay: 1s;
		-moz-transition-delay: 1s;
		-o-transition-delay: 1s;
		transition-delay: 1s;
		z-index: 3;
		cursor: pointer
	}

	#talents-section-images .talent-wrapper {
		opacity: 0;
		-webkit-transition: opacity 5s, -webkit-transform 1s ease;
		-moz-transition: opacity 5s, -moz-transform 1s ease;
		-o-transition: opacity 5s, -o-transform 1s ease;
		transition: opacity 5s, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease, transform 1s ease;
		-webkit-transform: translateY(30%);
		-moz-transform: translateY(30%);
		-ms-transform: translateY(30%);
		-o-transform: translateY(30%);
		transform: translateY(30%);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 25%;
		overflow: hidden
	}

	#talents-section-images .talent {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		-webkit-transition: opacity 1s 1s;
		-moz-transition: opacity 1s 1s;
		-o-transition: opacity 1s 1s;
		transition: opacity 1s 1s
	}

	#talents-section-images .talent:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 40%;
		bottom: 0;
		left: 0;
		z-index: 2;
		zoom: 1;
		filter: alpha(opacity=0);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		-webkit-transform: translate(0, 100px);
		-moz-transform: translate(0, 100px);
		-ms-transform: translate(0, 100px);
		-o-transform: translate(0, 100px);
		transform: translate(0, 100px);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
		background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
		background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
		background-image: linear-gradient(to top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease
	}

	#talents-section-images .talent .talent-static {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: 4;
		opacity: 1;
		background-position: center;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s
	}

	#talents-section-images .talent .talent-piece-image {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		z-index: 1;
		width: 400%;
		background-position: right top;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
		-webkit-transition: visibility 0s .6s, opacity .6s, -webkit-transform 2s ease-in;
		-moz-transition: visibility 0s .6s, opacity .6s, -moz-transform 2s ease-in;
		-o-transition: visibility 0s .6s, opacity .6s, -o-transform 2s ease-in;
		transition: visibility 0s .6s, opacity .6s, -webkit-transform 2s ease-in, -moz-transform 2s ease-in, -o-transform 2s ease-in, transform 2s ease-in
	}

	#talents-section-images.-mouseover .talent .talent-static {
		opacity: 0
	}

	#talents-section-images.-mouseover .-current:before {
		zoom: 1;
		filter: alpha(opacity=100);
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0)
	}

	#talents-section-images.-mouseover .-current .talent-text .city, #talents-section-images.-mouseover .-current .talent-text .name {
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
		opacity: 1;
		-webkit-transition-duration: .8s;
		-moz-transition-duration: .8s;
		-o-transition-duration: .8s;
		transition-duration: .8s
	}
	#talents-section-images.-mouseover .-current .talent-text .city {
		height: 100px;
	}

	#talents-section-images.-mouseover .-current .talent-text .city {
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s
	}

	#talents-section-images.-mouseover .-current .talent-text span {
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
		opacity: 1;
		-webkit-transition-duration: .8s;
		-moz-transition-duration: .8s;
		-o-transition-duration: .8s;
		transition-duration: .8s
	}

	#talents-section-images.-mouseover .talent-piece-image.-active {
		-webkit-transform: initial;
		-moz-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity .6s linear, -webkit-transform 2s ease-out;
		-moz-transition: opacity .6s linear, -moz-transform 2s ease-out;
		-o-transition: opacity .6s linear, -o-transform 2s ease-out;
		transition: opacity .6s linear, -webkit-transform 2s ease-out, -moz-transform 2s ease-out, -o-transform 2s ease-out, transform 2s ease-out
	}

	#talents-section-images.-stage_end .-current .talent-piece-image.-active, #talents-section-images.-stage_end .talent .talent-piece-image.-active {
		opacity: .4
	}

	#talents-section-images.-stage_end .talent .talent-text * {
		-webkit-transition-delay: .8s !important;
		-moz-transition-delay: .8s !important;
		-o-transition-delay: .8s !important;
		transition-delay: .8s !important;
		opacity: 0 !important
	}

	#talents-section-images.-stage_end .-current .talent-text .city, #talents-section-images.-stage_end .-current .talent-text .name, #talents-section-images.-stage_end .-current .talent-text span {
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		-webkit-transform: translateY(50px);
		-moz-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-o-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
		-webkit-transition-delay: .5s !important;
		-moz-transition-delay: .5s !important;
		-o-transition-delay: .5s !important;
		transition-delay: .5s !important
	}

	#talents-section-desc {
		z-index: 11;
		pointer-events: none
	}

	#talents-section-desc, #talents-section-desc .talentdesc {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0
	}

	#talents-section-desc .talentdesc .firstname {
		position: absolute;
		top: calc(40% - 42px);
		margin: 0 25px;
		opacity: 0;
		text-shadow: 0 0 20px rgba(0, 0, 0, .3), 0 0 80px rgba(0, 0, 0, .5);
		-webkit-transition: -webkit-transform 1s, opacity 1s;
		-moz-transition: -moz-transform 1s, opacity 1s;
		-o-transition: -o-transform 1s, opacity 1s;
		transition: -webkit-transform 1s, -moz-transform 1s, -o-transform 1s, transform 1s, opacity 1s;
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		-o-transition-delay: 0;
		transition-delay: 0
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		#talents-section-desc .talentdesc .firstname {
			font-size: 65px;
			margin-top: 20px;
			margin-left: 10px;
			margin-right: 10px
		}
	}

	@media screen and (min-width: 1600px) {
		#talents-section-desc .talentdesc .firstname {
			font-size: 100px;
			margin-top: -10px
		}
	}

	#talents-section-desc .talentdesc .quote {
		position: absolute;
		top: 65%;
		left: 60%;
		bottom: 300px;
		width: calc(40% - 40px);
		display: inline-block;
		line-height: 130%;
		color: #f3f3f3;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 0 6px rgba(0, 0, 0, .6);
		opacity: 0;
		font-size: 20px;
		font-weight: 100;
		margin-left: 20px;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		-o-transition-delay: 0;
		transition-delay: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		#talents-section-desc .talentdesc .quote {
			font-size: 18px
		}
	}

	#talents-section-desc .talentdesc.-current .firstname {
		opacity: 1;
		-webkit-transition: -webkit-transform opacity;
		-moz-transition: -moz-transform opacity;
		-o-transition: -o-transform opacity;
		transition: -webkit-transform opacity, -moz-transform opacity, -o-transform opacity, transform opacity;
		-webkit-transition-duration: 1.5s;
		-moz-transition-duration: 1.5s;
		-o-transition-duration: 1.5s;
		transition-duration: 1.5s;
		-webkit-transition-delay: .5s;
		-moz-transition-delay: .5s;
		-o-transition-delay: .5s;
		transition-delay: .5s;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0)
	}

	#talents-section-desc .talentdesc.-current .quote {
		-webkit-transition: -webkit-transform 1.5s, opacity 1.5s;
		-moz-transition: -moz-transform 1.5s, opacity 1.5s;
		-o-transition: -o-transform 1.5s, opacity 1.5s;
		transition: -webkit-transform 1.5s, -moz-transform 1.5s, -o-transform 1.5s, transform 1.5s, opacity 1.5s;
		-webkit-transition-delay: .8s;
		-moz-transition-delay: .8s;
		-o-transition-delay: .8s;
		transition-delay: .8s;
		opacity: 1
	}

	#talents-section-desc.-stage_end .talentdesc.-current .firstname, #talents-section-desc.-stage_end .talentdesc.-current .quote {
		-webkit-transform: translateY(-50px) !important;
		-moz-transform: translateY(-50px) !important;
		-ms-transform: translateY(-50px) !important;
		-o-transform: translateY(-50px) !important;
		transform: translateY(-50px) !important;
		opacity: 0
	}

	#talents-section-desc.-stage_end .talentdesc.-current .firstname {
		-webkit-transition-delay: 0s !important;
		-moz-transition-delay: 0s !important;
		-o-transition-delay: 0s !important;
		transition-delay: 0s !important;
		-webkit-transition-duration: 1.6s !important;
		-moz-transition-duration: 1.6s !important;
		-o-transition-duration: 1.6s !important;
		transition-duration: 1.6s !important
	}

	#talents-section-desc.-stage_end .talentdesc.-current .quote {
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
		-webkit-transition-duration: 1.6s;
		-moz-transition-duration: 1.6s;
		-o-transition-duration: 1.6s;
		transition-duration: 1.6s
	}

	#talent-1, #talent-1-overlay {
		left: 0%
	}

	#talent-1 .talent-piece-image, #talent-1-overlay .talent-piece-image {
		left: 0
	}

	#talent-2, #talent-2-overlay {
		left: 25%
	}

	#talent-2 .talent-piece-image, #talent-2-overlay .talent-piece-image {
		left: -100%
	}

	#talent-3, #talent-3-overlay {
		left: 50%
	}

	#talent-3 .talent-piece-image, #talent-3-overlay .talent-piece-image {
		left: -200%
	}

	#talent-4, #talent-4-overlay {
		left: 75%
	}

	#talent-4 .talent-piece-image, #talent-4-overlay .talent-piece-image {
		left: -300%
	}

	.talent-wrapper#talent-1 {
		-webkit-transition-delay: .4s;
		-moz-transition-delay: .4s;
		-o-transition-delay: .4s;
		transition-delay: .4s
	}

	.talent-wrapper#talent-2 {
		-webkit-transition-delay: .2s;
		-moz-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s
	}

	.talent-wrapper#talent-3 {
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s
	}

	.talent-wrapper#talent-4 {
		-webkit-transition-delay: .2s;
		-moz-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s
	}

	#talent-1-desc .firstname {
		-webkit-transform: translateX(-10px);
		-moz-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
		left: 0%
	}

	#talent-1-desc .quote {
		left: 40% !important
	}

	#talent-2-desc .firstname {
		-webkit-transform: translateX(-10px);
		-moz-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
		left: 20%
	}

	#talent-2-desc .quote {
		left: 60% !important
	}

	#talent-3-desc .firstname {
		-webkit-transform: translateX(-10px);
		-moz-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
		left: 40%
	}

	#talent-3-desc .quote {
		left: 60% !important
	}

	#talent-4-desc .firstname {
		left: auto;
		right: 20%;
		-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-ms-transform: translateX(10px);
		-o-transform: translateX(10px);
		transform: translateX(10px)
	}

	#talent-4-desc .quote {
		text-align: right;
		left: 0% !important
	}
}
@media (min-width: 970px) and (max-height: 765px)
	.talent-text
		padding-bottom 10px
	#talents-overlay
		.talent-cta
			top 20%
	.stories
		h3
			&.title
				transform-origin right top
				transform scale(0.5)