.test-drive
	.content-inner
		padding 30px
	.form-group
		padding-right 30px
		padding-bottom 40px
		position relative
		overflow hidden
		&.lg
			padding-right 0
		&.ovfVis
			overflow visible
.test-drive-form-wrap
	padding 40px 100px 40px 84px
	h4
	h5
		font-size 36px
		font-family 'peugeotlight'
		color $blue
		text-transform none
.test-drive-form
	&.dropdown-open
		.btn-default
			background alpha($blue, 0.2)
.form-control
	&.error
		& + label
			&.error
				& + .input__label
					&:before
					&:after
						border-color $red
label
	&.error
	&.dropdown-error
		position absolute
		top 100%
		color $gray3
		font-size 15px
		line-height 9px
		font-family 'peugeotlight'
.cd-dropdown
	label
		&.error
		&.dropdown-error
			line-height 25px

.success
	@media(max-width: 1169px)
		margin 0 -15px
		padding-bottom 100px
	h5
		margin-bottom 30px
	p
		font-size 20px
		color $blueLight
		font-family 'Exo 2', sans-serif
		font-weight 300
		margin-bottom 60px
		line-height 24px
		@media(min-width: 750px)
			width 480px
@media (max-width: 749px)
	.test-drive-view
		.logo
			display none
	.test-drive
		.test-drive-form-wrap
			padding 30px
			.test-drive-form
				padding-bottom 35px
@media (max-width: 969px)
	.test-drive
		.title-box
			padding-left 0
			margin-bottom 40px
		.form-group
			padding-right 0
		.btn-group
			padding-top 50px
			.form-group
				&:last-child
					margin-bottom 0
		.note
			padding-top 0
@media(min-width: 750px) and (max-width: 1169px)
	.test-drive
		.title-box
			padding-left 0
			margin-bottom 40px
@media(min-width: 970px) and (max-width: 1899px)
	.test-drive
		.form-group
			width 45%
			float left
			&.lg
				width 45%
@media(min-width: 1900px)
	.test-drive
		.form-group
			padding-right 60px

			float left
			padding-bottom 40px
			&.lg
				padding-right 0
		.btn-group
			padding-top 20px
			.form-group
				margin-bottom 0
		.note
			padding-top 45px
		.title-box
			width 25%
		.form-box
			width 58.33333333%
	.test-drive-form
		padding-top 25px
	.form-box
		position relative
		padding-left 60px
		&:before
			content ""
			position absolute
			width 1px
			height calc(100% - 25px)
			background  $gray4
			left 0
@media (min-width: 1170px) and (min-height: 990px)
	.test-drive-view
	.test-drive
		height 100%
@media(min-width: 1300px)
	.test-drive
		.form-group
			width 360px
			&.lg
				width 410px
@media(min-width: 970px)
	.btn-group
		padding-bottom 40px
		display	flex
		align-items flex-end
		.form-group
			padding-bottom 0
		.note
			padding-top 0
@media (min-width: 970px) and (max-height: 765px)
	.test-drive-form-wrap
		padding 20px 100px 20px 84px
	.test-drive
		.date-select
			.form-group
				padding-bottom 20px
		.custom-radio input[type="radio"] + label
			padding-top 5px
			padding-bottom 5px
			font-size 15px
		.btn
			padding 25px
		.form-group
			padding-bottom 30px
		.logo
			&.small
				right 29px
				bottom 29px
	.test-drive-form
		.row
			&:nth-child(3)
				.form-group
					padding-bottom 0
.tablet
	.test-drive
		.logo
			&.small
				right 49px
				bottom 49px
@media (min-width: 970px) and (max-width: 1169px) and (max-height: 899px)
	.test-drive-form-wrap
		padding 20px 100px 20px 84px
	.test-drive
		.title-box
			margin-bottom 10px
		.form-group
			padding-bottom 30px
		.logo
			&.small
				right 29px
				bottom 29px
.input
	position relative
	z-index 1
	display inline-block
	// max-width 320px
	width 100%
	vertical-align top
	font-size 21px
	color $blue
	line-height 30px
	font-family 'peugeotlight'
.form-control
	position relative
	display block
	float right
	padding 0.8em
	width 60%
	border none
	border-radius 0
	background: #f0f0f0
	color #aaa
	-webkit-appearance none /* for box shadows to show on iOS */
	&:focus
		outline none
.input__label
	display inline-block
	float right
	padding 0
	width 40%
	color $blueLight
	font-family 'peugeotlight'
	font-size 21px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	background $gray
.input__label-content
	position relative
	display block
	padding 0
	width 100%

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/* Hoshi */
.input__field--hoshi
	margin-top 14px
	padding 10px 0
	width 100%
	background transparent
	color $blue
	font-family 'peugeotlight'

.input__label--hoshi
	position absolute
	bottom 0
	left 0
	width 100%
	height calc(100% - 1em)
	text-align left
	pointer-events none

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi
	&::before
	&::after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height calc(100% - 10px)
		border-bottom 3px solid $white

.input__label--hoshi::after {
	border-bottom: 3px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1
	&::after
		border-color $blue2

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input--filled .input__label
	background none

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translateX(20px) translateY(0) translateZ(0);
		transform: translateX(20px) translateY(0) translateZ(0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translateX(-20px) translateY(-40%) translateZ(0);
		transform: translateX(-20px) translateY(-40%) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0) translateY(-40%) translateZ(0);
		transform: translateX(0) translateY(-40%) translateZ(0);
		-ms-transform: translateY(-40%);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translateX(20px) translateY(0) translateZ(0);
		transform: translateX(20px) translateY(0) translateZ(0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translateX(-10px) translateY(-100%) translateZ(0);
		transform: translateX(-10px) translateY(-100%) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0) translateY(-100%) translateZ(0);
		transform: translateX(0) translateY(-100%) translateZ(0);
		-ms-transform: translateY(-100%);
	}
}

// drop down
.cd-dropdown
.cd-select
	position relative
	display block
	padding-top 10px
.cd-dropdown
	& > span
		width 100%
		min-height 40px
		line-height 1
		padding 5px 0
		color $blueLight
		font-size 21px
		display block
		position relative
		cursor pointer
		border-bottom: 3px solid $white
		font-family 'peugeotlight'
		padding-right 40px
		background $gray
		// display flex
		// align-items flex-end
		&.error
			border-bottom-color $red
.selected
	.cd-dropdown
		& > span
			font-size 21px
			text-transform uppercase
			color $blue
			border-bottom-color $blue2
	.list-title
		display block

.list-title
	position absolute
	bottom 100%
	left 0
	display none
	font-size 21px
	color $blueLight
	font-family 'peugeotlight'
	z-index 1010
	margin-bottom -15px

.cd-dropdown
	&.unactive
		position relative
		// pointer-events none
		&:before
			content ""
			display block
			width 100%
			height 100%
			z-index 10000
			background #fff
			position absolute
			top 0
			left 0
			bottom 0
			margin-top 10px
			opacity 0
		& > span
			color alpha($blueLight, 0.5)
			&:after
				border-bottom-color alpha($blueLight, 0.5)
				border-right-color alpha($blueLight, 0.5)

.cd-dropdown > span:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 25%;
	width: 50px;
	text-align: center;
	font-size: 12px;

	height: 70%;
	line-height: 24px;

	width: 15px;
	height: 15px;
	border-bottom: 2px solid $blueLight;
	border-right: 2px solid $blueLight;
	border-top: 2px solid rgba($blueLight, 0);
	border-left: 2px solid rgba($blueLight, 0);
	// border-color: $blueLight;
	// border-style: solid;
	// border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	margin: 0 0 0 0;
	pointer-events none
}

.cd-dropdown
	& > span
		.desc
			position absolute
			top 100%
			left 0
			margin-top 10px
			line-height 1

.cd-dropdown.cd-active > span:after {
	border-left: 2px solid $blueLight;
	border-top: 2px solid $blueLight;
	border-bottom: 2px solid rgba($blueLight, 0);
	border-right: 2px solid rgba($blueLight, 0);
	margin: 10px 0 0 0;
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	max-height: 180px;
	overflow: scroll;
	z-index 0;
}
.cd-dropdown.cd-active ul {
	z-index: 10000;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	line-height: 1;
	padding: 10px 30px 10px 0;
	display: block;
	cursor: pointer;
	font-size: 21px;
	// line-height: 40px;
	color: $blue;
	text-transform: uppercase;
	border-bottom: 3px solid $white;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	position: relative;
	background: $gray;
}
.cd-dropdown ul li span.additional-desc {
	background $gray
}
.cd-dropdown ul li span.additional-desc {
	background $gray
}
.cd-dropdown .desc {
	display: block;
	font-size 16px;
	color: $gray3;
	// position: absolute;
	left 0
	bottom 0
	text-transform none
	font-style normal
	padding-top 5px
}
// .cd-dropdown ul li span.group:before {
// 	content: "";
// 	position: absolute;
// 	right: 1px;
// 	bottom: 0;
// 	width: 19px;
// 	height: calc(100% + 3px);
// 	background: $blueLight;
// }

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

.cd-dropdown ul {
	position: absolute;
	top: 100%;
	width: 100%;
}

.cd-dropdown ul li {
	position: relative;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	color: $blueLight;
}

.list-wrap
	ul
		max-height 100px
		overflow scroll
// @media (min-width: 750px) and (max-height: 850px)
// .cd-dropdown
// 	&.cd-active
// 		ul
// 			max-height 135px
// 			overflow scroll
.cd-dropdown
	&.cd-active
		.jspTrack
			display block
.jspTrack
.jspHorizontalBar
	display none

@media (max-height: 800px)
	.cd-dropdown
		ul
			max-height 133px
@media (min-width: 750px) and (max-width: 1170px) and (max-height: 990px)
	.cd-dropdown
		ul
			max-height 133px

.cd-dropdown
	ul
		height auto !important
		width 100%
		height 180px
		overflow auto

.jspScrollable
.jspContainer
	&:focus
		outline none
.jspScrollable
	&.hidden
		opacity 0
		// visibility hidden
.date-select
	.form-group
		width auto
	input[type="radio"]
		display none
.custom-radio
	display inline-block
	vertical-align middle
	margin-right 40px
	input[type="radio"]
		&:checked
			& + label
				background $blue
				border-color $blue
		& + label
				width 100%
				float none
				padding 10px 30px
				border-radius 2px
				border 2px solid $blueLight
				position relative
				cursor pointer
				background $blue2
				color #fff
				font-weight bold
				transition .4s
				&:hover
					background $blue
					border-color $blue
					color #fff
@media (max-width: 768px)
	.date-select
		.custom-radio
			display block
			width 100%
			max-width: 300px
			margin 0 auto
			margin-bottom 10px

// fix horizontal scroll on iphones
.jspPane
		left 0 !important
