.welcome
	color $white
	margin 0 -15px
	padding-left 100px
	position relative
	.bg
		content ""
		position absolute
		bottom 0
		left 0
		display block
		width 100%
		height 100%
		background url('../i/bg-rules.jpg') no-repeat center center / cover
		z-index 0
	p
		font-size 46px
		line-height 56px
		color $white
		@media (min-width: 749px)
			width 460px
	@media (max-width: 749px)
		text-align center
		padding 80px 15px 0
	@media (min-width: 750px) and (max-width: 969px)
		padding-top 60px
	@media (max-width: 969px)
		.left
			top auto
			transform translate(0, 0)
		.right
			text-align right
	@media (min-width: 970px)
		.row
			height 307px
		.ver-center
			top 50%
			transform translate(0, -50%)
	@media (min-width: 970px) and (max-height: 780px)
		.row
			height 220px
	@media (min-width: 970px) and (max-width: 1169px) and (max-height: 899px)
		.row
			height 220px
.tablet
	.welcome
		.right
			text-align right