doctype html
html
	head
		include partials/head
	body
		include partials/menu
		include partials/preloader
		.wrapper.main.not-loaded
			.slider.pt-perspective
				.pt-page.section.home-view#home
					include partials/home
				//- .pt-page.section.rules-view#rules
					include partials/rules
				.pt-page.section.test-drive-view#test-drive
					include partials/test-drive
				.pt-page.section.stories-view#stories
					include partials/stories